{
  "branches": ["main"],
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/exec", {
      "prepareCmd": "yq -i '.version = \"${nextRelease.version}\"' galaxy.yml",
      "successCmd": "echo \"version=${nextRelease.version}\" >> $GITHUB_OUTPUT"
    }],
    "@semantic-release/github",
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "galaxy.yml"]
    }]
  ]
}
